table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
    text-align: left;
}

tr {
    transition: background-color 0.3s ease;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Estilo para os botões */
button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Fundo padrão para todas as linhas */
.table-row {
    background-color: white;  /* Cor padrão para todas as linhas */
}

/* Para tarefas com custo >= 1000 */
.table-row.expensive-task {
    background-color: #fff3cd;  /* Amarelo claro para tarefas com custo >= 1000 */
}

/* Para tarefas concluídas */
.table-row.completed-task {
    text-decoration: line-through; /* traceja as tarefas concluídas */
}

.table-row.odd {
    background-color: #f9f9f9;  /* Cor de fundo para linhas ímpares */
}

.table-row.even {
    background-color: white;  /* Cor de fundo para linhas pares */
}
